
<!DOCTYPE html>
<html lang="en">
    <head>
    <link ref="stylesheet" href="style.css">
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    </head>
  
    <body>
    <!-- Menu điều hướng -->
    





    <div class="container mt-4">
        <div class="row">
            <!-- Danh sách sản phẩm -->
            <div class="col-md-9">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <!-- Sản phẩm 1 -->
                    <div class="col mb-4">
                        <div class="card">
                            <img src="https://picsum.photos/id/684/600/400" alt="">
                            <h2>Sản Phẩm 1</h2>
                            <p>Mô tả sản phẩm 1.</p>
                            <p>Giá: $100</p>
                            <button class="button button4">Mua Ngay</button>

                        </div>
                    </div>
                    <!-- Bổ sung thêm sản phẩm -->
                    <div class="col mb-4">
                        <div class="card">
                            <img src="https://picsum.photos/id/1025/600/400" alt="">
                            <h2>Sản Phẩm 2</h2>
                            <p>Mô tả sản phẩm 2.</p>
                            <p>Giá: $150</p>
                            <button class="button button4">Mua Ngay</button>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="https://picsum.photos/id/1060/600/400" alt="">
                            <h2>Sản Phẩm 3</h2>
                            <p>Mô tả sản phẩm 3.</p>
                            <p>Giá: $120</p>
                            <button class="button button4">Mua Ngay</button>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="https://picsum.photos/id/30/600/400" alt="">
                            <h2>Sản Phẩm 4</h2>
                            <p>Mô tả sản phẩm 4.</p>
                            <p>Giá: $80</p>
                            <button class="button button4">Mua Ngay</button>
                        </div>
                    </div>

                    <div class="col mb-4">
                        <div class="card">
                            <img src="https://picsum.photos/id/431/600/400" alt="">
                            <h2>Sản Phẩm 5</h2>
                            <p>Mô tả sản phẩm 5.</p>
                            <p>Giá: $200</p>
                            <button class="button button4">Mua Ngay</button>
                        </div>
                    </div>



                </div>




            </div>
            <div class="col-md-3">
                <div class="bg-primary text-white p-3 text-decoration-none">
                    <h5>Social Media</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Facebook</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Twitter</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Instagram</a></li>
                        <li><a href="#" class="text-white text-decoration-none">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Sidebar -->


    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div class="bg-dark text-white text-center py-4">
                    <h3>Cột 1</h3>
                    <p>Nội dung cột 1.</p>
                </div>
            </div>
            <div class="col">
                <div class="bg-dark text-white text-center py-4 ">
                    <h3>Cột 2</h3>
                    <p>Nội dung cột 2.</p>
                </div>
            </div>
            <div class="col">
                <div class="bg-dark text-white text-center py-4 ">
                    <h3>Cột 3</h3>
                    <p>Nội dung cột 3.</p>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>

